body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: #7643db;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  padding: 20px; /* added padding to body */
}

.title-container {
  text-align: center;
  margin: 40px auto;
  width: 90%;
  max-width: 500px;
  background-color: rgba(140, 82, 255, 0.2); 
  padding: 40px; /* increased padding to 40px */
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px); 
}

.warning-icon {
  width: 70px;
  height: 70px;
  margin: 20px auto; /* increased margin to 20px */
  display: block;
}

h1 {
  font-size: 45px;
  margin: 10px 0; /* increased margin to 10px */
  margin-bottom: -10px;
}

p {
  text-align: justify;
  margin: 20px auto; /* increased margin to 20px */
  font-size: 15px; /* increased font size to 15px */
  width: 100%;
  max-width: 450px;
}

button {
  width: 150px; /* increased width to 150px */
  height: 40px; /* increased height to 40px */
  margin: 20px; /* increased margin to 20px */
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

button:hover {
  background-color:#8C52FF;
  color: #ffffff;
}

#back-button {
  background-color: #ffffff;
  color: #000000;
}

#back-button:hover {
  background-color: #8C52FF;
  color: #ffffff;
}

@media (max-width: 768px) {
  .title-container {
    width: 90%;
  }
  p {
    width: 90%;
  }
}